[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/painlessMesh/painlessMesh"]
	path = components/painlessMesh/painlessMesh
	url = https://gitlab.com/painlessMesh/painlessMesh.git
[submodule "vendor/esp-idf"]
	path = vendor/esp-idf
	url = https://github.com/espressif/esp-idf.git
